html {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 400;
}


body {
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}



