.navigation {
  display: flex;
}

.footer__list { 
  display: flex;
  flex-direction: column;
}

.footer__list a {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  color: #666;
  transition: color .2s ease;
  
  &:hover {
    color: #000;
     
    &::after,
    &::before {
      width: 100%;
      left: 0;
    }
    
  }
  
  &::after,
  &::before {
    content: ''; 
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
  }
  
  &::before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #2196f3;
  }
  
  &::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #F44336;
  }
}
