.product__container {
    text-align: center;
    margin-bottom: 56px;
}

.product__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.product__content-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 303px;
}

.product__content-article-footer {
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: start;
}

.product__title {
    margin-bottom: 9px;
}

.product__description {
    margin-bottom: 31px;
}

@media (width <= 768px) {
    .product__content {
        flex-direction: column;
        align-items: center;
    }
}