html {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 400;
}


body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
}

.article-decor-wraper-1::before , .article-decor-wraper-2::before {
    content: "";
    color: #80808080;
    width: 528px;
    height: 48px;
    position: absolute;
    z-index: -1;
    background: url("../img/decor-icon.svg") no-repeat;
}

.article-decor-wraper-1::before {
    top: 535px;
    left: -350px;
}

.article-decor-wraper-2::before {
    top: 1917px;
    left: 995px;
    
}


.article-title {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    max-width: 596px;
    margin-bottom: 40px;
}

.article-text {
    margin-bottom: 20px;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb {
    margin-bottom: 80px;
}

.img-gym  {
    max-width: 1250px;
    margin-bottom: 80px;
}

.h3 {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}

.ul-text::marker {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.ul-text::marker {
    color: #3596ed;
    font-size: 22px;
}

.ul-spisok {
    padding-left: 5px;
    margin: 12px;
}

.video-gym {
    max-width: 1250px;
    margin-bottom: 40px;
}

.button {
    width: 60px;
    height: 60px;
    background-color: #3596ed;
    border-radius: 50%;
    border-style: none;
    position: relative;
    left: 565px;
    top: 370px;
}

.play {
    position: relative;
    width: 24px;
    height: 24px;
    top: 357px;
    left: 610px;
    z-index: 1;
}
