html {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 400;
}


body {
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    padding: 30px 0;
    align-items: center;
    border-bottom: 2px solid #858E8A;
}

.tel {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 300;
    color: #858E8A;
    letter-spacing: 0.04em;
    margin: 0 0 8px;
    text-align: right;
}

.tel-text {
    margin: 0 0 8px;
    font-size: 14px;
}


.tel-link {
    color: #2C332F;
    text-decoration: none;
    font-weight: 500;
    text-align: right;
    transition: color 0.2s;
}

.tel-link:hover {
    color: #3596ed;
}

.text {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2C332F;
}

a {
    text-decoration: none;
}

a:focus-visible , button:focus-visible {
    outline: 2px solid #3596ed;
    outline-offset: 1px;
}

.button:active {
    background-color: #135a98;
}

.title-medium {
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
}



