.hero,
.news,
.faq {
    padding: 0 20px;
}


.hero {
    padding-top: 80px ;
}

.hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url("../img/декор.svg") repeat-x;
    top: 550px;
}

.block-hero-1 {
    display: flex;
    max-width: 1220px;
    max-height: 513px;
    gap: 28px;
    margin: 0 auto;
}

.hero-h1 {
    font-family: "Oswald" , sans-serif;
    color: #2C332F;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    margin: 0 0;
    margin-bottom: 40px;
    max-width: 492px;
}

.strong {
    color: #3596ED;
    font-family: "Oswald" , sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
}

.hero .text {
    max-width: 440px;
    margin-bottom: 140px;
}

.button {
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #3596ED;
    padding: 19px 32px;
    width: 270px;
    height: 57px;
    font-family: "Ubuntu" , sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 0.85;
}

.hero , 
.news ,
.faq {
    margin-bottom: 140px;
}

.new-container ,
.news h2  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}



.article-title {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}

.news {
    display: none;
}

.news-article {
    background-color: #fff;
    border: 1px solid #d3cbd9;
    width: 284px;
    overflow: hidden;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
}

.news-article footer {
    margin-top: auto;
    padding: 0 20px 20px;
}

.news-info data {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 300;
    color: #858E8A;
    letter-spacing: 0.04em;
    margin: 0 0 8px;
}

.news-link {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-family: "Ubuntu" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ED;
}

.news-link::after {
    display: inline-block;
    content: "";
    width: 22px;
    height: 9px;
    background-image: url("../img/arrow-right-icon.svg");
    transition: transform 0.2s;
}

.news-link:hover::after {
    transform: translateX(5px);
}


.faq {
    display: none;
    position: relative;
}

.faq::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(50% - 250px);
    height: 48px;
    top: 215px;
    background: url("../img/декор.svg") repeat-x;
}

.faq-container {
    display: flex;
    gap: 28px;
    max-width: 1220px;
    margin: auto;
}



details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}

details[open] summary::after {
    transform: rotate(180deg);
}

details .title-medium  {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

details > p {
    padding: 0 20px 20px;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    cursor: pointer;
    padding: 20px;
}

summary::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url("../img/стрелка-вверх.svg");
}

summary::-webkit-details-marker {
    display: none;
}

.article-title {
    display: flex;
    margin: 0 auto;
    max-width: 492px;
    margin-bottom: 40px;
    position: relative;
    left: -365px;
}


.news-h2 {
    display: flex;
    margin: 0 auto;
    max-width: 492px;
    margin-bottom: 40px;
    position: relative;
    left: -390px;
}

@media (width <= 1440px) {
    .sporty-people {
        width: 50%;
    }
}

@media (width <= 992px) {
    .block-hero-1 {
        flex-direction: column;
    }
}





