.hero {
    margin-top: 80px;
    padding-top: 0;
}

.hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url("../img/decor-icon.svg") repeat-x;
    top: 550px;
}

.block-hero-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1220px;
    gap: 28px;
    margin: 0 auto;
}

.hero-h1 {
    font-family: "Oswald" , sans-serif;
    color: #2C332F;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    margin: 0 0;
    margin-bottom: 40px;
    max-width: 492px;
}

.strong {
    color: #3596ED;
    font-family: "Oswald" , sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
}

.hero .text {
    max-width: 440px;
    margin-bottom: 140px;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #3596ED;
    padding: 19px 32px;
    max-width: 270px;
    height: auto;
    font-family: "Ubuntu" , sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 0.85;
}

.hero , 
.news ,
.faq {
    margin-bottom: 140px;
}

.new-container   {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}


.title-large {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}

.news-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    max-width: 284px;
    overflow: hidden;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
}

.news-article footer {
    margin-top: auto;
    padding: 0 20px 20px;
}

.news-info data {
    font-family: "Ubuntu" , sans-serif;
    font-weight: 300;
    color: #858E8A;
    letter-spacing: 0.04em;
    margin: 0 0 8px;
}

.news-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Ubuntu" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ED;
}

.news-link::after {
    display: inline-block;
    content: "";
    width: 22px;
    height: 9px;
    background-image: url("../img/arrow-right-icon.svg");
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.news-link:hover::after {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}


.faq {
    position: relative;
}

.faq::before {
    top: 215px;
}

.faq-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
    max-width: 1220px;
    margin: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}



details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}

details:last-child {
    margin-bottom: 0;
}

details[open] summary::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

details .title-medium  {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
}

details > p {
    padding: 0 20px 20px;
}

summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    list-style: none;
    cursor: pointer;
    padding: 20px;
}

summary::after {
    content: "";
    display: inline-block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 17px;
    height: 22px;
    background: url("../img/стрелка-вверх.svg") no-repeat center / cover;
}

summary::-webkit-details-marker {
    display: none;
}


.news-h2 {
    margin-bottom: 40px;
}

@media (width <= 1440px) {
    .sporty-people {
        width: 50%;
        
    }
}

@media (width <= 992px) {
    .hero::after {
        display: none;
    }

    .hero img {
        width: 98%;
    }

    .block-hero-1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .hero-info .hero-h1 ,
    .hero-info .text {
        text-align: center;
    }
    
    .hero-h1 {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .header{
        margin: 20px;
    }

    .button {
        margin: 0 auto;
    } 
    
    
    .new-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
    }

    .news-article {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        max-width: 350px;
        gap: 20px;
    }

    .news-article img {
        width: 100%;
    }

    .faq::before {
        display: none;
    }

    .faq-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .faq img {
        width: 100%;
    }
}

@media (width <= 768px) {
    .hero-h1 {
        font-size: 50px;
    }

    .news-article {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 400px;
    }

    .faq-container {
        max-width: 612px;
        padding: 0 20px;
    }
}

@media (width <= 576px) {
    .hero {
        padding-top: 60px;
        margin-top: 0;
    }

    .hero-info {
        max-width: 410px;
    }

    .hero-h1 {
        font-size: 42px;
    }
}





